{% extends 'home/base.html' %}
{% load static %}

{% block content %}



<div class="row px-3">
  <div class="col-3">
    <div class=" d-flex flex-column " style="height: 100%; background-color: rgb(142, 177, 252);">
      <div class="sticky-top">

        <div class=" d-flex justify-content-evenly w-100 mt-4" style="height:7rem ;">
          <img src="{% static 'admin_logo.png' %}" style="border: 4px solid black ;" class="img-thumbnail w-50"
            alt="...">
        </div>
        <div class="d-flex justify-content-evenly w-100 mt-4">
          <p>Admin Name:</p>
        </div>
        <div class="d-flex justify-content-evenly w-100 ">
          <h2>{{t.name}}</h2>
        </div>
        <div class="d-flex justify-content-evenly w-100 mt-2">
          <a href="{% url 'insert_pr' %}" class="btn btn-primary w-75 ">Add Patient</a>

        </div>
        <div class="d-flex justify-content-evenly w-100 mt-2">
          <a href="{% url 'insert_dr' %}" class="btn btn-primary w-75 ">Add Doctor</a>
        </div>
        <div class="d-flex justify-content-evenly w-100 mt-2">
          <a href="{% url 'insert_adm' %}" class="btn btn-primary w-75 ">Add Admin</a>
        </div>
      </div>

    </div>

  </div>


  <div class="col-8">


    <h1>Patients</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Password</th>
          <th scope="col">Mobile no.</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for i in x %}
        <tr>
          <th scope="row">{{i.id}}</th>
          <th>{{i.name}}</th>
          <td>{{i.email}}</td>
          <td>{{i.password}}</td>
          <td>{{i.mob}}</td>
          <td><a href="delete_patient/{{i.id}}" class="btn btn-primary">Delete</a>
          <td><a href="edit_patient/{{i.id}}" class="btn btn-primary">Edit</a>

        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1>Doctor</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Password</th>
          <th scope="col">Mobile no.</th>
          <th scope="col"></th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        {% for i in b %}
        <tr>
          <th scope="row">{{i.id}}</th>
          <th>{{i.name}}</th>
          <td>{{i.email}}</td>
          <td>{{i.password}}</td>
          <td>{{i.mob}}</td>
          <td><a href="delete_doctor/{{i.id}}" class="btn btn-primary">Delete</a>
          <td><a href="edit_doctor/{{i.id}}" class="btn btn-primary">Edit</a>

        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1>Admins</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Password</th>
          <th scope="col">Mobile no.</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for i in c %}
        <tr>
          <th scope="row">{{i.id}}</th>
          <th>{{i.name}}</th>
          <td>{{i.password}}</td>
          <td>{{i.mob}}</td>
          <td><a href="edit_admin/{{i.id}}" class="btn btn-primary">Edit</a>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>








{% endblock %}