{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="p-5 d-flex justify-content-center">
    <!-- <p class="">ABOUT US</p>
<p class="h4 d-flex justify-content-center text-center">The most trusted medical centralised system all over india which provide a interactive UI to connect patient to our doctors.</p> -->
    <div class="w-75 p-3 text-center" style="border: 3px solid rgb(178 197 241); border-radius: 8px;">
        <h3>About CMS</h3>
        <p>CMS is a leading online healthcare service provider in the country with many healthcare facilities available
            at just one click. It is associated with more than 20 specialists and about 70 staff memebers to help you
            with all your needs. It has the most developed website to keep all your documents at one place for the ease
            of the patients as well as doctor.
        </p>
        <h3>Vision</h3>
        <p>To help people with all their needs with just a click.</p>
        <h3>Mission</h3>
        <p>To make everything available and affordable to people, so that every citizen can get the best treatment and
            facilities available</p>

            <h3 class="mb-4">Development Team</h3>
            <div class="w-100 mt-2 d-flex justify-content-evenly">


            <div class=" mx-2"  style="width: 30%; background-color: rgb(194, 213, 255);">
                <img src="{% static 'saikat.jpeg' %}" class="card-img-top" style="border: 2px solid black; border-radius: 100%; width: 60%;" alt="...">
                <div class="card-body">
                    <p class="card-text">Saikat Kar</p>
                </div>
            </div>
            

        </div>
    </div>
</div>



{% endblock %}