{%  extends 'home/base.html' %}
{% block content %}
<div class="p-5">
<p class="display-4 d-flex justify-content-center">CONTACT US</p>
<p class="h4 d-flex justify-content-center text-center"><i class="fa-regular mx-4 fa-envelope-open"></i>saikatkar1271@gmail.com</p>
<p class="h4 d-flex justify-content-center text-center"><i class="fa-regular mx-4 fa-envelope-open"></i>efg@gmail.com</p>
<p class="h4 d-flex justify-content-center text-center"><i class="fa-regular mx-4 fa-envelope-open"></i>xyz@gmail.com</p>
<p class="h4 d-flex justify-content-center text-center"><i class="fa-solid mx-4 fa-comment"></i>+91 987452138</p>

</div>



{% endblock %}